name: Labeler
# https://github.com/marketplace/actions/github-labeler
on:
  push:
    branches:
      - main
    paths:
      - '.github/labels.yml'

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Labeler
        if: success()
        uses: crazy-max/ghaction-github-labeler@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          skip-delete: false
          exclude: |
            help*
            *issue
